* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	-moz-box-orient: horizontal;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-orient: horizontal;
	font-family: 'Open Sans', Arial, sans-serif; }

.container {
	margin-top: 20px;
	max-width: 1024px;
	min-width: 768px; }

	h2 {
		padding: 20px;
		color: white;
		background-color: #3B5998;
		border-radius: 5px; }
	input {
		padding: 8px;
		border: 2px solid #ECECEC;
		color: #303030;
		width: 100%;
		margin-bottom: 10px; }
	input:focus { 
		outline: none;
		border-color: #C9C9C9; }
	button {
		font-size: 13px;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-weight: bold;
		white-space: nowrap;
		-webkit-box-align: center;
		-webkit-appearance: push-button;
		text-align: center;
		padding: 3px 25px 5px;
		vertical-align: middle;
		background-color: #69a74e;
		border-color: #71C449 #91E06B #94DF65 #57992E; }

	section {
		width: auto;
		height: auto;
		display: block;
		margin-bottom: 20px; }
			article.view {
				width: 60%;
				padding: 0px 0px 0px 10px;
				float: right; }
				article.view ul {
					list-style-type: decimal;
					margin: 0px;
					padding: 0px 0px 0px 10px; }
					article.view ul li {
						cursor: pointer;
						display: inline-block;
						margin-right: 10px;
						margin-bottom: 10px;
						font-size: 12px;
						text-align: center;
						color: white;
						overflow: hidden;
						text-overflow: ellipsis;
						width: 25px;
						padding: 5px 0px 5px 0px;
						background-color: #69a74e;
						border-color: #71C449 #91E06B #94DF65 #57992E;
						border-radius: 5px;
						list-style-position: none; }
					article.view ul li img, article.view ul li p  {
						margin: 0px;
						vertical-align: top;
						display: inline-block; }
					article.view ul li img {
						width: 20%;
						margin-right: 2%;
						height: auto; }
					article.view ul li p {
						width: 70%; }
					article.view ul li h3 {
						margin-top: 0px; 
						margin-bottom: 10px; }
					article.view ul li h3 span {
						margin-top: 0px; 
						margin-bottom: 10px;
						font-size: 12px;
						font-style: italic;
						color: #A5A5A5;
						font-weight: normal;}

			article.info {
				padding: 0px 10px 0px 4px;
				background-color: #ECECEC;
				width: 40%;
				float: left;
				-webkit-box-shadow: inset 40px 0 0 #FBFBFC, inset 41px 0 0 #ECECF0;
				-moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
				box-shadow: inset 40px 0 0 #FBFBFC, inset 41px 0 0 #ECECF0; }
				article.info ol {
					display: block;
					list-style-type: decimal;
					color: #333;
					padding: 0;
					margin: 0 0 0 33px; }
						article.info ol li {
							margin: 0px;
							padding-top: 5px;
							padding-left: 12px;
							color: #999999;
							line-height: 20px;
							text-shadow: 0 1px 0 white; }